
/* Your CSS Code here. */
.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fits well */
    border-radius: 50%;
}
